@import url("https://fonts.googleapis.com/css2?family=Limelight&display=block");

body {
    margin: 0;
    background-color: #1f1d1f;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Limelight";
}

h1 {
    font-size: 3rem;
}

.h-screen {
    height: 100vh;
}

.w-screen {
    width: 100vw;
}

.center {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.bg-1 {
    background-color: rgba(0, 0, 0, 0);
}

.bg-2 {
    background-color: rgba(0, 0, 0, 0.15);
}